@model List<NewTask>

@{
    
}

<h1>Stephen Covey's Time Management Matrix</h1>

<div style="text-align: center;">
    <a class="custom-btn" asp-controller="Home" asp-action="AddEditTask">Add New Task</a>
</div>
<br/>
<br/>

<div text-align: center; class="container"> 
    
    <div class="row">
        <div class="col-2"></div>
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-5">
            <h2>Urgent</h2>
        </div>
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-5">
            <h2>Not Urgent</h2>
        </div>
    </div>
    
    <div class="row">
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-2">
            <h2>Important</h2>
        </div>
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-5">
            <h5>Quadrant 1</h5>
            @foreach (var x in Model.Where(x => x.Quadrant == 1 && x.Completed == false))
            {
                <p>@x.TaskName</p>
                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Checkoff" asp-route-id="@x.TaskId">Mark As Complete</a>
            }
        </div>
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-5">
            <h5>Quadrant 2</h5>
            @foreach (var x in Model.Where(x => x.Quadrant == 2 && x.Completed == false))
            {
                <p>@x.TaskName</p>
                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Checkoff" asp-route-id="@x.TaskId">Mark As Complete</a>
            }
        </div>
    </div>

    <div class="row">
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-2">
            <h2>Not Important</h2>
        </div>
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-5">
            <h5>Quadrant 3</h5>
            @foreach (var x in Model.Where(x => x.Quadrant == 3 && x.Completed == false))
            {
                <p>@x.TaskName</p>
                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Checkoff" asp-route-id="@x.TaskId">Mark As Complete</a>
            }
        </div>
        <div style="border: 2px solid #f0e7dc; border-radius: 10px; padding: 10px;" class="col-5">
            <h5>Quadrant 4</h5>
            @foreach (var x in Model.Where(x => x.Quadrant == 4 && x.Completed == false))
            {
                <p>@x.TaskName</p>
                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Checkoff" asp-route-id="@x.TaskId">Mark As Complete</a>
            }
        </div>
    </div>
    
</div>